h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --hero-background: #f2ceda;
  --hero-button-color: #d23166;
  --button-color: #d64374;
  --header-font-color: #150101;
  --btnTextColor: #fafafa;
  --heroTextColor: #0f0101;
  --titleColor: #150101;
  --blackColor: #000000;
  --footerColor: #0a0808;
  --roboto-font: "Roboto";
  --hind-font: "Hind Madurai";
  --fredoka-font: "Fredoka One";
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.section {
  background-color: rgba(242, 206, 218, 0.3);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --hero-background: #f2ceda;
  --hero-button-color: #d23166;
  --button-color: #d64374;
  --header-font-color: #150101;
  --btnTextColor: #fafafa;
  --heroTextColor: #0f0101;
  --titleColor: #150101;
  --blackColor: #000000;
  --footerColor: #0a0808;
  --roboto-font: "Roboto";
  --hind-font: "Hind Madurai";
  --fredoka-font: "Fredoka One";
}

.button {
  min-width: 165px;
  min-height: 49px;
  background: var(--button-color);
  border-radius: 5px;
  text-align: center;
  color: var(--btnTextColor);
  border: none;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-top: 10px;
}

.header-menu__img {
  display: block;
  margin-right: 266px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  height: 100%;
}
.header-list__item:not(:last-child) {
  margin-right: 40px;
}
.header-list__item:last-child {
  margin-right: 172px;
}
.header-list__link {
  display: block;
}

.header-list__link {
  display: block;
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--header-font-color);
  opacity: 0.6;
}

.header-menu__button {
  margin-right: 0;
  background-color: var(--hero-button-color);
  padding: 14px 50px 13px;
}

.hero-section {
  padding-top: 196px;
  padding-bottom: 213px;
}
.hero-section__position {
  position: relative;
}

.hero {
  margin-right: 681px;
  width: 665px;
}
.hero__previous {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--heroTextColor);
  letter-spacing: 0.1em;
  margin-bottom: 6px;
}
.hero__header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--fredoka-font);
  font-weight: 500;
  font-size: 57px;
  line-height: 1.2105263158;
  color: var(--heroTextColor);
  opacity: 0.9;
  margin-bottom: 35px;
}
.hero__span {
  color: var(--hero-button-color);
}
.hero__text {
  margin-bottom: 50px;
  font-family: var(--hind-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--heroTextColor);
  opacity: 0.6;
}
.hero__img-1 {
  position: absolute;
  bottom: -74px;
  right: -101px;
  z-index: 4;
}
.hero__img-2 {
  position: absolute;
  bottom: -219px;
  right: -250px;
  z-index: 5;
  -webkit-transform: rotate(4.79deg);
      -ms-transform: rotate(4.79deg);
          transform: rotate(4.79deg);
}
.hero__img-3 {
  position: absolute;
  bottom: -117px;
  right: 15px;
  z-index: 3;
}
.hero__img-4 {
  position: absolute;
  bottom: -188px;
  right: 85px;
  z-index: 2;
}

.benefits {
  padding: 100px 0;
  background-color: #fff;
}
.benefits__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: var(--hind-font);
  font-weight: 600;
  font-size: 44px;
  line-height: 1.1136363636;
  color: var(--titleColor);
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits-list__thumb {
  width: 100%;
  height: auto;
}
.benefits-list__item {
  padding: 33px 26px 28px;
}
.benefits-list__item:first-child {
  margin-left: 22px;
}
.benefits-list__item:not(:last-child) {
  margin-right: 39px;
}

.benefits-item {
  text-align: center;
  -ms-flex-preferred-size: calc((100% - (39px * 3 + 22px)) / 4);
      flex-basis: calc((100% - (39px * 3 + 22px)) / 4);
}
.benefits-item__header {
  margin-bottom: 9px;
  font-family: var(--hind-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #000;
}
.benefits-item__text {
  font-family: var(--hind-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  color: rgba(0, 0, 0, 0.6);
}
.benefits-item__icon-coctail {
  fill: #fd3a84;
}
.benefits-item__icon-cashback {
  fill: #61db99;
}

.brown-sugar {
  padding: 141px 0 146px;
}
.brown-sugar__article {
  position: relative;
  margin-right: 906px;
  width: 442px;
}
.brown-sugar__title {
  margin-bottom: 16px;
}
.brown-sugar__text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(21, 1, 1, 0.6);
  margin-bottom: 35px;
}
.brown-sugar__shadow-img {
  position: absolute;
  right: -575px;
  bottom: -95px;
  z-index: 4;
}
.brown-sugar__img {
  position: absolute;
  right: -729px;
  bottom: -187px;
  z-index: 5;
}

.product {
  padding: 137px 0 112px;
  background-color: #fff;
}
.product__title {
  margin-bottom: 64px;
  text-align: center;
  line-height: 1.39;
}
.product-list-item {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.6);
}
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.product__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__item:not(:last-child) {
  margin-right: 40px;
}

.product-list-2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-list-2__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.product-list-2__second-thumb {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-preferred-size: 454px;
      flex-basis: 454px;
  padding-top: 60px;
}
.product-list-2__header {
  font-family: var(--hind-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3846153846;
  color: #000000;
  margin-bottom: 11px;
}
.product-list-2__text {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 26px;
}
.product-list-2__price {
  font-family: var(--hind-font);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3846153846;
  color: #000000;
  display: block;
  margin-bottom: 16px;
}
.product-list-2__old-price {
  font-family: var(--hind-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through;
  margin-left: 5px;
}

.product-list-2__item:nth-child(odd) .product-list-2__first-thumb {
  margin-right: 85px;
}

.reviews-section {
  padding: 0 0 149px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__slider {
  max-width: 343px;
  margin-right: 224px;
  margin-top: 93px;
  padding-left: 21px;
  position: relative;
}

.slider__name {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--blackColor);
  margin-bottom: 5px;
  margin-left: 49px;
}
.slider__nation {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
  margin-left: 49px;
}
.slider__text {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
}
.slider__photo {
  border-radius: 50%;
  display: inline-block;
}

.slick-prev,
.slick-next {
  color: var(--button-color);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 300px;
}

.slick-prev::before,
.slick-next::before {
  content: "";
  display: block;
  border-top: 2px solid var(--button-color);
  border-left: 2px solid var(--button-color);
  margin: 0 auto;
  width: 14px;
  height: 14px;
  color: var(--button-color);
}

.slick-prev::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-next::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slick-next {
  left: 235px;
}

.slick-prev {
  left: -20px;
}

.reviews-img-box {
  width: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-section {
  padding: 90px 0 150px;
}

.order {
  position: relative;
}
.order__thumb {
  margin-left: 439px;
  max-width: 633px;
}
.order__title {
  line-height: 1.18;
  margin-bottom: 20px;
}
.order__text {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  color: rgba(15, 1, 1, 0.7);
  letter-spacing: 0.01em;
  margin-bottom: 31px;
  width: 607px;
}

.order-list {
  margin-bottom: 40px;
}
.order-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.order-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1818181818;
  color: var(--blackColor);
}

.svg-thumb {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 10px;
}

.app-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app-list__item {
  width: auto;
}
.app-list__item:not(:last-child) {
  margin-right: 10px;
}
.app-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.app-list__link-1 {
  width: 200px;
}
.app-list__link-2 {
  width: 173px;
}

.order-example__thumb {
  position: absolute;
  left: 5px;
  bottom: -197px;
  border-radius: 40px;
  overflow: hidden;
}

.help-section {
  padding: 191px 0 149px 0;
  background-color: #fff;
}

.help {
  margin: 0 auto;
  text-align: center;
  width: 522px;
}
.help__title {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 44px;
  line-height: 1.1818181818;
  color: var(--blackColor);
  margin-bottom: 28px;
}
.help__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 637px;
  height: 74px;
}
.help__input {
  width: 100%;
  background-color: var(--btnTextColor);
  border: none;
  border-radius: 5px;
  padding: 0 140px 0 30px;
}
.help__button {
  min-width: 134px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-section {
  padding: 70px 0 104px;
  background-color: var(--footerColor);
  color: rgba(255, 255, 255, 0.7);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-thumb {
  width: 207px;
  margin-right: 37px;
}
.footer__central-list {
  width: 309px;
}/*# sourceMappingURL=main.css.map */