@import "../utils/variables";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.section {
  background-color: var(--hero-background);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
