:root {
  --hero-background: #f2ceda;
  --hero-button-color: #d23166;
  --header-font-color: #150101;
  --btnTextColor: #fafafa;
  --heroTextColor: #0f0101;
  --titleColor: #150101;
  --blackColor: #000000;

  --roboto-font: "Roboto";
  --hind-font: "Hind Madurai";
  --fredoka-font: "Fredoka One";
}
